.about-me {
  margin: 0 auto;
  padding: 13px 70px 100px 70px;
  background-color: #fafafa;
  max-width: 100%;
}

.about-me__container {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 50px;
}

.about-me__box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
  color: #FFFFFF;
}

.about-me__title {
  margin: 0 auto;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 81px;
  letter-spacing: -0.04em;
  color: #000;
  margin-bottom: 60px;
  padding-top: 23px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #DADADA;
}

.about-me__text-title {
  margin: 0 0 18px;
  padding: 0;
  width: 100%;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #000;
  letter-spacing: -0.04em;
}

.about-me__text-subtitle {
  margin: 0 0 26px 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.about-me__text-description {
  margin: 0 0 99px 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #000;
}

.about-me__list {
  margin: 0;
  padding: 0;
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__link {
  text-decoration: none;
  transition: linear 0.3s;
  color: #000;
}

.about-me__link:hover {
  opacity: 0.5;
}

.about-me__profile-photo {
  margin: 0 0 auto auto;
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  object-fit: contain;
  flex-basis: min-content;
}

@media screen and (max-width: 800px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__container {
    align-items: flex-start;
  }

  .about-me__profile-photo {
    margin: 0;
    max-width: 33vw;
    border-radius: 10px;
    object-fit: contain;
  }

  .about-me__text-title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__text-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text-description {
    margin: 0 0 87px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 14px 50px 17px 50px;
  }
  
  .about-me__text-title {
    margin: 0 0 15px;
  }
  
  .about-me__text-subtitle {
    margin: 0 0 20px 0;
  }

  .about-me__title {
    margin-bottom: 60px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 430px) {
  .about-me {
    padding: 0px 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 70px;
    letter-spacing: -0.04em;
  }

  .about-me__container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-me__profile-photo {
    margin-bottom: 40px;
    align-self: center;
    max-width: 292px;
    min-height: 352px;
  }

  .about-me__text-title {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 37px;
  }

  .about-me__text-subtitle {
    margin: 0 0 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text-description {
    margin: 0 0 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__list {
    column-gap: 26px;
  }
}
